* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

.mo-text--is-small {
  font-size: 1em; }
.mo-text--is-md {
  font-size: 2.5em; }
.mo-text--is-lg {
  font-size: 3.5em; }
.mo-text--is-xlg {
  font-size: 4.5em; }
.mo-text--is-xxlg {
  font-size: 5em; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 1280px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; }

.container-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  max-width: 1280px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; }

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 38.999%;
  flex: 0 0 38.999%; }

.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%; }

.align-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.align-center-h {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav.nav-grey {
  background: grey; }
.nav.nav-black {
  background: black; }
  .nav.nav-black ul li {
    display: inline-block;
    padding: 1em; }
  .nav.nav-black ul li a {
    color: white; }

.logo {
  color: white; }

.hero {
  position: relative; }
  .hero img {
    width: 100%;
    height: 600px;
    -o-object-fit: cover;
    object-fit: cover; }
  .hero .hero-text {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    .hero .hero-text.is-right {
      right: 20%; }
    .hero .hero-text.is-center {
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      left: 50%; }

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative; }

.active, .accordion:hover {
  background-color: #ccc; }

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden; }

.accordion-outline {
  background-color: transparent;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 1px solid black;
  text-align: left;
  outline: none;
  font-size: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative; }

.accordion-toggle {
  font-size: 1.5em;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%); }

.btn {
  border: none;
  font-size: 1em;
  padding: 1em 2.5em;
  -webkit-transition: .5s;
  transition: .5s;
  text-transform: uppercase;
  cursor: pointer; }
  .btn.btn-main {
    background: black;
    color: white; }
    .btn.btn-main:hover {
      background: black; }
  .btn.btn-warning {
    background: tomato;
    color: white; }
    .btn.btn-warning:hover {
      background: #ff3814; }
  .btn.btn-disabled {
    background: #ccc; }
    .btn.btn-disabled:hover {
      background: #b3b3b3; }

/*# sourceMappingURL=App.css.map */
