.btn {
  border: none;
  font-size: 1em;
  padding: 1em 2.5em;
  -webkit-transition: .5s;
  transition: .5s;
  text-transform: uppercase;
  cursor: pointer;
  &.btn-main {
    background: black;
    color: white;
    &:hover {
      background: darken(black, 10%);
    }
  }
  &.btn-warning {
    background: tomato;
    color: white;
    &:hover {
      background: darken(tomato, 10%);
    }
  }
  &.btn-disabled {
    background: #ccc;
    &:hover {
      background: darken(#ccc, 10%);
    }
  }
}