.nav {
  &.nav-grey {
    background: grey;
  }
  &.nav-black {
    background: black;
    ul li {
      display: inline-block;
      padding: 1em;
    }
    ul li a {
      color: white;
    }
  }
}

.logo {
  color: white;
}