.mo-text {
  &--is-small {
    font-size: 1em;
  }
  &--is-md {
    font-size: 2.5em;
  }
  &--is-lg {
    font-size: 3.5em;
  }
  &--is-xlg {
    font-size: 4.5em;
  }
  &--is-xxlg {
    font-size: 5em;
  }
}